# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Visual Studio files with user preferences
*.suo
*.user
nscc-used-books/nscc-used-books.csproj.user
